force-app/main/default/flows/Loan_Omni_Channel_Queue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <choices>
        <name>Accepted</name>
        <choiceText>Accepted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accepted</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rejected</name>
        <choiceText>Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Lending_Support_Stage</name>
        <label>Loan Stage</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lending_Support_Stg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lending Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lending_Support_0</targetReference>
            </connector>
            <label>Lending Support Stg</label>
        </rules>
        <rules>
            <name>Application_Analyst_Stg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Analyst</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Analyst</targetReference>
            </connector>
            <label>Application Analyst Stg</label>
        </rules>
        <rules>
            <name>Customer_Relationship_Manager_Stg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Relationship Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Relationship_Manager</targetReference>
            </connector>
            <label>Customer Relationship Manager Stg</label>
        </rules>
        <rules>
            <name>Submission_Specialist_Stg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submission Specialist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submission_Specialist</targetReference>
            </connector>
            <label>Submission Specialist Stg</label>
        </rules>
    </decisions>
    <interviewLabel>Loan Omni Channel Queuing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan Omni Channel Queue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lending_Support_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>vlocity_ins__Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application</name>
        <label>Update Application</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vApplicationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lending_Support_Meets_Requirements__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Application Analyst</stringValue>
            </value>
        </inputAssignments>
        <object>vlocity_ins__Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application_0</name>
        <label>Update Application</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vApplicationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application_Analyst_Meets_Requirements__c</field>
            <value>
                <elementReference>Application_Analyst_Requirements_Met</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Customer Relationship Manager</stringValue>
            </value>
        </inputAssignments>
        <object>vlocity_ins__Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application_0_0</name>
        <label>Update Application</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vApplicationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Relationship_Meets_Requirements__c</field>
            <value>
                <elementReference>Customer_Relationship_Manager_Requirements_Met</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Submission Specialist</stringValue>
            </value>
        </inputAssignments>
        <object>vlocity_ins__Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application_0_0_0</name>
        <label>Update Application</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vApplicationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>vNextStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Specialist_Meets_Requirements__c</field>
            <value>
                <elementReference>Submission_Specialist_Requirements_Met</elementReference>
            </value>
        </inputAssignments>
        <object>vlocity_ins__Application__c</object>
    </recordUpdates>
    <screens>
        <name>Application_Analyst</name>
        <label>Application Analyst</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Application_0</targetReference>
        </connector>
        <fields>
            <name>AppAnalyst</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Application Analyst Required Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Application_Analyst_Requirements_Met</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Application Analyst Requirements Met</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Customer_Relationship_Manager</name>
        <label>Customer Relationship Manager</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Application_0_0</targetReference>
        </connector>
        <fields>
            <name>CRM</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Customer Relationship Manager &lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Required Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Relationship_Manager_Requirements_Met</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Customer Relationship Manager Requirements Met</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Lending_Support_0</name>
        <label>Lending Support</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Application</targetReference>
        </connector>
        <fields>
            <name>Lending_Support_Required</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Lending Support Required Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CDM_Band</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>1-3</stringValue>
            </defaultValue>
            <fieldText>CDM Band</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Issue</name>
            <dataType>String</dataType>
            <fieldText>Issue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Customer_Contacted</name>
            <dataType>Boolean</dataType>
            <fieldText>Customer Contacted</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Documents_Satisfactory</name>
            <choiceReferences>Rejected</choiceReferences>
            <choiceReferences>Accepted</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Documents Satisfactory</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Submission_Specialist</name>
        <label>Submission Specialist</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Application_0_0_0</targetReference>
        </connector>
        <fields>
            <name>SubmissionSpecialist</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Submission Specialist &lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Required Information&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Random Picklist Example Included!!!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Submission_Specialist_Requirements_Met</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Submission Specialist Requirements Met</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Application_Next_Stage_0_0_0</name>
            <extensionName>runtime_industries_lending:flowPickEnum</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Next Application Stage</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>entityName</name>
                <value>
                    <stringValue>vlocity_ins__Application__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>vNextStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enumFieldName</name>
                <value>
                    <stringValue>Stage__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vNextStage</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNextStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
