force-app/main/default/flows/Loan_Stage_Evaluation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Application_Analyst_Triggered</name>
        <label>Application Analyst True</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>isOrchestrationConditionMet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Customer_Relationship_Manager</name>
        <label>Customer Relationship Manager True</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>isOrchestrationConditionMet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Lending_Support_True</name>
        <label>Lending Support True</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>isOrchestrationConditionMet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>No_Match</name>
        <label>No Match</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>isOrchestrationConditionMet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Submission_Specialist_True</name>
        <label>Submission Specialist True</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>isOrchestrationConditionMet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Stage_Evaluation</name>
        <label>Stage Evaluation</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>No_Match</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lending Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Applicaiton.Lending_Support_Meets_Requirements__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lending_Support_True</targetReference>
            </connector>
            <label>Lending Support Trigger</label>
        </rules>
        <rules>
            <name>Application_Analyst_Trigger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application Analyst</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Applicaiton.Application_Analyst_Meets_Requirements__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Analyst_Triggered</targetReference>
            </connector>
            <label>Application Analyst Trigger</label>
        </rules>
        <rules>
            <name>Submission_Specialist_Triggered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submission Specialist</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Applicaiton.Submission_Specialist_Meets_Requirements__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submission_Specialist_True</targetReference>
            </connector>
            <label>Submission Specialist Trigger</label>
        </rules>
        <rules>
            <name>Customer_Relationship_Manager_Trigger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Relationship Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Applicaiton.Customer_Relationship_Meets_Requirements__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Relationship_Manager</targetReference>
            </connector>
            <label>Customer Relationship Manager Trigger</label>
        </rules>
    </decisions>
    <interviewLabel>Loan Stage Evaluation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan Stage Evaluation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>EvaluationFlow</processType>
    <recordLookups>
        <name>Get_Applicaiton</name>
        <label>Get Applicaiton</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stage_Evaluation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>vlocity_ins__Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Applicaiton</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isOrchestrationConditionMet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
